<aside class="col-sm-3 ml-auto blog-sidebar">
  {{ if and (.Site.Params.sidebar) (isset .Site.Params.sidebar "about") }}
  <section class="sidebar-module sidebar-module-inset my-card">
    <h4>Botting Proxies</h4>
    <ul>
      <li>
        <a href="https://billing.virmach.com/aff.php?gid=8&aff=5" onclick="trackOutboundLink('https://virmach.com/manage/cart.php?gid=8&amp;aff=5'); return false;" target="_blank" rel="noopener" _>Virmach</a></br>
        <p class="sidebar-small">
          (Try code: <b>SAVE20</b> to save 20%!)
        </p>
      </li>

      <li><a href="http://www.proxyfish.com/billing/aff.php?aff=1" onclick="trackOutboundLink('http://www.proxyfish.com/billing/aff.php?aff=1'); return false;" target="_blank" rel="noopener" _>Proxy Fish</a></br>
        <p class="sidebar-small">
          (Try code: <b>OSBOT20</b> to save 20%!)
        </p>
        </li>

      <li><a href="https://billing.blazingseollc.com/hosting/aff.php?aff=243&to=https://blazingseollc.com/proxy/#Pricing" onclick="trackOutboundLink('https://billing.blazingseollc.com/hosting/aff.php?aff=243&to=https://blazingseollc.com/proxy/#Pricing'); return false;" target="_blank" rel="noopener" _>Blazing Proxy</a></br>
        <p class="sidebar-small">
          (Try code: <b>RSBOTSPOT</b> to save 5%!)
        </p>
      </li>

      <li><a href="https://www.yourprivateproxy.com/idevaffiliate/idevaffiliate.php?id=1094" onclick="trackOutboundLink('https://www.yourprivateproxy.com/idevaffiliate/idevaffiliate.php?id=1094'); return false;" target="_blank" rel="noopener" _>Your Private Proxy</a></li>

      <li><a href="https://proxy6.net/en/?r=42337" onclick="trackOutboundLink('https://proxy6.net/en/?r=42337'); return false;" target="_blank" rel="noopener" _>Proxy6</a></br>
        <p class="sidebar-small">
          (Try code: <b>6WSgPYP8WT</b> to save 5%!)
        </p>
        </li>
    </ul>
    <h4>Botting VPS</h4>
    <ul>
      <li>
        <a href="https://billing.vpsgamers.com/aff.php?aff=5&gid=7" onclick="trackOutboundLink('https://billing.vpsgamers.com/aff.php?aff=5&gid=7'); return false;" target="_blank" rel="noopener" _>VPS-Gamers</a></br>
        <p class="sidebar-small">
          (Try code: <b>SAVE20</b> to save 20%!)
        </p>
      </li>
    </ul>
  </section>

  <section class="sidebar-module sidebar-module-inset my-card">
    <h4>{{ i18n "about" }}</h4>
    <!-- <p>{{ .Site.Params.sidebar.about | markdownify }}</p> -->
    <p>
      RSBotSpot is the ultimate Runescape botting resource. From guides to script reviews, we do it all. Made with <i class="fal fa-heart" style="color:#f6666a"></i> by YoHoJo, a Runescape botting veteran since 2004.
    </p>
  </section>
  {{ end }}

  {{ if .Site.Params.sidebar }}
      {{ partialCached "recent.html" .}}
  {{ end }}

  {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module my-card">
    <h4>{{ i18n "links" }}</h4>
    <ol class="list-unstyled">
      {{ range . }}
      <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}
